.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px #717171;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.title {
  text-align: center;
  color: #333;
  margin-top: 10%;
}

.list {
  font-size: 14px;
  line-height: 1.6;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 8%;
}

table, th, td {
  font-size: 12px;
  border: 2px solid;
  border-collapse: collapse;
  text-align: center;
  padding: 1px;
}

.image {
  border-radius: 30px;
  height: 250px;
  margin-bottom: 10%;
}

.infoButton {
  padding: 8px;
  margin-bottom: 10%;
}

@media (max-width: 800px) and (min-height: 500px) {
  .title {
    font-size: 35px;
    font-weight: 700;
  }

  .list {
    font-weight: 400;
  }
}